# Acceptance Test Report

## Memory Usage (Phpolar\SqliteStorage\MemoryUsage)

- [x] Memory usage for a entire lifecycle shall be below 145000 bytes

## Project Size (Phpolar\SqliteStorage\ProjectSize)

- [x] Source code total size shall be below 12000 bytes
